@font-face {
  font-family: Inter;
  src: url(./Inter-Variable.woff2) format(woff2),
    url(./Inter-Variable.woff2) format(woff2 supports variations),
    url(./Inter-Variable.woff2) format(woff2-variations);
  font-display: swap;
  font-weight: 400 785;
}